<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/createProduct.css">
    <title>createProduct</title>

    <script type="text/javascript">
     function recibir(){
        const nomId=document.getElementById("name").value;
        const descId=document.getElementById("description").value;
        const categId=document.getElementById("category").value;
        const consoleId=document.getElementById("console").value;
        const priceId=document.getElementById("price").value;
        const imageId=document.getElementById("image").value;


        document.getElementById("escribir").innerHTML=" \
            Producto: "+nomId+" \
            <br> descripción: "+descId+" \
            <br> categoría: "+categId+" \
            <br> consola: "+consoleId+" \
            <br> precio: "+priceId+" \
            <br> imagen: "+imageId;
     }


    </script>
</head>
<body>
    
    <%- include("../partials/header") %>
        
    <main>


          <form action="/Products/createProduct" method=POST enctype="multipart/form-data" class="productEdition">
    
            <h2>Agregar producto</h2>

                <label for="productName" class="formLabel"> Nombre del producto </label>
                <input type="text" name="name" id="name" class="formImput">
          
    
            
                <label for="description" class="formLabel"> Descripción </label>
                <input type="text" name="description" id="description" class="formImput">      
                  

                <label for= "image" class="formLabel"> Imagen </label>
                <input type="file" id="image" name="image" accept=".jpg" multiple  class="formImage">
                
                    <select name="category" id="category">             <!-- Nuevas funcionalidades con la etiqueta select -->
                    <option value="">Seleccione una opción</option>
                    <option value="videojuegos">videojuegos</option>
                    <option value="consolas">consolas</option>
                    <option value="revistas">revistas</option>
                    <option value="ropa">ropa</option>
                    <option value="figuras">Figuras</option>

                </select>

                <select name="subcategory" id="subcategory">
                    <option value="">Seleccione una opción</option>
                    <option value="accion">acción</option>
                    <option value="infantil">infantil</option>
                    <option value="estrategia">estrategia</option>
                    <option value="deportivo">deportivo</option>
                    <option value="arcade">arcade</option>
                    <option value="simulación">simulación</option>

                    <option value="playstation">playstation</option>
                    <option value="xbox">xbox</option>
                    <option value="nintendo">nintendo</option>
                   
                    <option value="marvel">marvel</option>
                    <option value="dc">dc</option>
                    <option value="mangas">mangas</option>

                    <option value="hombre">hombre</option>
                    <option value="mujer">mujer</option>
                    <option value="niñ@s">niñ@s</option>

                    <option value="coleccionables">coleccionables</option>
                    <option value="novedades">novedades</option>

                </select>
                
                <!-- <label for= "category" class="formLabel"> Categoría </label>
                <input type="text" name="category" id="category" class="formImput"> -->
         
                <label for= "subcategory" class="formLabel"> Subcategoría </label>
                <input type="text" name="subcategory" id="subcategory" class="formImput">
           
                <label for= "price" class="formLabel"> precio </label>
                <input type="text" name="price" id="price" class="formImput">

                <label for= "discount" class="formLabel"> descuento </label>
                <input type="text" name="discount" id="discount" class="formImput">

                
           
                <input type="button" class="send" value="Enviar" onclick="recibir()">
            

            
                <input type="reset" class="reset">
            
          </form>
    
          <br>

          <div class="escribir" id="escribir"></div>
   
</main>
    
<%- include("../partials/footer") %>

</body>


</html>