<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/createProduct.css">
    <title>createProduct</title>

    <!-- <script type="text/javascript">
     function recibir(){
        const nomId=document.getElementById("name").value;
        const descId=document.getElementById("description").value;
        const categId=document.getElementById("category").value;
        const consoleId=document.getElementById("console").value;
        const priceId=document.getElementById("price").value;
        const imageId=document.getElementById("image").value;


        document.getElementById("escribir").innerHTML=" \
            Producto: "+nomId+" \
            <br> descripción: "+descId+" \
            <br> categoría: "+categId+" \
            <br> consola: "+consoleId+" \
            <br> precio: "+priceId+" \
            <br> imagen: "+imageId;
     }


    </script> -->
</head>
<body>
    
    <%- include("../partials/header") %>
        
    <main>
        <form action="/products/create" method=POST  class="productEdition" enctype="multipart/form-data">
            <h2>Agregar producto</h2>
            <label for="productName" class="formLabel"> Nombre del producto </label>
            <input type="text" name="name" id="name" class="formImput">
          
            <label for="description" class="formLabel"> Descripción </label>
            <input type="text" name="description" id="description" class="formImput">      
                  
            <label for= "image" class="formLabel"> Imagen </label>
            <input type="file" id="image" name="image" accept=".jpg" multiple  class="formImage">
            
            <select class="category"  name="category" id="category">             <!-- Nuevas funcionalidades con la etiqueta select -->
                <option value="">Seleccione una opción</option>
                <option value="videojuegos">Videojuegos</option>
                <option value="consolas">Consolas</option>
                <option value="revistas">Revistas</option>
                <option value="ropa">Ropa</option>
                <option value="figuras">Figuras</option>
            </select>

           <!-- <label for= "subcategory" class="formLabel"> Subcategoría </label>
            <input type="text" name="subcategory" id="subcategory" class="formImput"> -->

            <select name="subcategory" id="subcategory" class="category">
                <option value="">Seleccione una opción</option>
               <!-- <option value="accion">Acción</option>
                <option value="infantil">Infantil</option>
                <option value="estrategia">Estrategia</option>
                <option value="deportivo">Deportivo</option>
                <option value="arcade">Arcade</option>
                <option value="simulación">Simulación</option> -->
                <option value="PC">PC</option>
                <option value="Playstation">Playstation</option>
                <option value="Xbox">Xbox</option>
                <option value="Nintendo">Nintendo Switch</option>
               <!-- <option value="marvel">Marvel</option>
                <option value="dc">DC</option>
                <option value="mangas">Mangas</option>
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
                <option value="niñ@s">Niñ@s</option>
                <option value="coleccionables">Coleccionables</option>
                <option value="novedades">Novedades</option> -->
            </select>
                
                <!-- <label for= "category" class="formLabel"> Categoría </label>
                <input type="text" name="category" id="category" class="formImput"> -->
           
            <label for= "price" class="formLabel"> Precio </label>
            <input type="text" name="price" id="price" class="formImput">

            <label for= "discount" class="formLabel"> Descuento </label>
            <input type="text" name="discount" id="discount" class="formImput">

            <button type="submit" class="send">Enviar</button>
            <input type="reset" class="reset">
            
        </form>
    

   
</main>
    
<%- include("../partials/footer") %>

</body>


</html>