<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        
        <a href="/"><img src="/images/TL_logo1.jpg" alt="LOGO" class="brand"></a>
        
        <div class="container">
            
            <nav class="nav-main">
               
                <ul class="nav-menu">
                    <li><a href="/register">Registrarse     |</a></li>
                    <li><a href="/login">Ingresar     |</a></li>
                    <li><a href="#">Ofertas     |</a></li>
                    <li><a href="#">Preventas     |</a></li>
                    <li><a href="#">Vender/Comprar     |</a></li>
                </ul>
    
                <div>
                <input class="buscador" type="text" placeholder="Videojuegos, consolas y más...">
                <button type="submit" class="search-buttom">Buscar</button>
                <i class="fas fa-search"></i>
                </div>
                <br>
                
                <ul class="nav-menu-bottom">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Videojuegos</a></li>
                    <li><a href="#">Consolas</a></li>
                    <li><a href="#">Revistas</a></li>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Figuras</a></li>
                </ul>
            
            </nav>
        
             
        </div>
       
</header>
       <div class="Banner">
            <img src="/images/Banner_SuperMario.jpg" alt="Banner">
        </div>
<main>
       <p class="last_Visits">Basado en tus últimas visitas</p>

        <section class="visits">
            <article>
                <a href="/productDetail"><img src="/images/MarioKartDeluxe.jpg"></a>
                    <p class="price">$1,200</p>
                    <p class="description">Mario Kart Deluxe</p>
                
            </article>
            <article>
                <img src="/images/SuperMario3D.jpg">
                    <p class="price"> $1,150</p>
                    <p class="description">Super Mario 3D</p>
            </article>

            <article>
                <img src="/images/TheLastOfUsII.jpg"d>
                    <p class="price">$1,900</p>
                    <p class="description">The Last of Us II</p>
            </article>

            <article>
                 <img src="/images/HalloInfinite.jpg">
                    <p class="price"> $1,200</p>
                    <p class="description">Hallo Infinite</p>
            </article>
        </section>

        <p class="Popular_Articles">Artículos populares</p>
              
        <section class="Popular">
            
            <article>
                <img src="/images/Fifa2021.jpg">
                <p class="price">$1,250</p>
                <p class="description">Fifa 2021</p>
            </article>
            
            <article>
             <img src="/images/DoomEternal.jpg">
             <p class="price">$2,300</p>
             <p class="description">Doom Eternal</p>
            </article>

            <article>
             <img src="/images/CrashBandicoot4.jpg">
             <p class="price">$900</p>
             <p class="description">Crash Bandicoot 4</p>
            </article>

            <article>
             <img src="/images/LuigiMansion3.jpg">
             <p class="precios">$950</p>
             <p class="description">Luigi's Mansion 3</p>
            </article>

            <article>
                <img src="/images/TheLastOfUsRemastered.jpg">
                <p class="price">$1,299</p>
                <p class="description">The Last of Us Remastered</p>
            </article>
            
            <article>
             <img src="/images/SuperSmashBrosUltimate.jpg">
             <p class="price">$1,700</p>
             <p class="description">Super Smash Bros Ultimate</p>
            </article>

            <article>
             <img src="/images/Spider-ManMM.jpg">
             <p class="price">$1,500</p>
             <p class="description">Spider-Man Miles Morales</p>
            </article>

            <article>
             <img src="/images/SuperMario3D.jpg">
             <p class="precios">$1,200</p>
             <p class="description">Super Mario 3D</p>
            </article>
           
        </section>
   
</main>
<footer>

    <div class="container_foot">
        <a class="to_menu" href="/">INICIO DE PÁGINA</a>
    </div>

    <div class="container_foot2">

        <ul class="vinculos_footer">
             <b>INFORMACIÓN</b> 
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Visión, Misión y Valores</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Otros recursos</a></li>
        </ul>

        <ul class="vinculos_footer">
            <b>ATENCIÓN A CLIENTES</b> 
            <li><a href="#">Quejas y sugerencias</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Garantías</a></li>
        </ul>

        <ul class="vinculos_footer">
            <b>COMPRAS Y VENTAS</b>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Comprar</a></li>
            <li><a href="#">Reglas de transacción</a></li>
        </ul>

    
        <ul class="vinculos_footer_Contact">
            <b>CONTACTO</b>
            <div class="socialMedia">
            <a href="#"><img src="/images/FaceLogo.png" class="FaceLogo"></a>
            <a href="#"><img src="/images/twitchLogo.png" class="twitchLogo"></a>
            <a href="#"><img src="/images/twitterLogo.png" class="twitterLogo"></a>
            <a href="#"><img src="/images/youtubeLogo.png" class="youtubeLogo"></a>
            
            
            <!-- <li><img src="/images/twitchLogo.png" class="FaceLogo"></li>
            <li><img src="/images/twitterLogo.png" class="FaceLogo"></li>
            <li><img src="/images/youtubeLogo.png" class="FaceLogo"></li> -->
            </div>
        </ul>

    </div>
    
</footer>

    <div class="Terms_Conditions">
        <b>Términos y condiciones | Aviso de privacidad @2021 TerebigemuLand. Todos los derechos reservados.</b>
    </div>
</body>
</html>