<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Product_Detail</title>
</head>
<body>
    <header>
        
        <a href="/"><img src="/images/TL_logo1.jpg" alt="LOGO" class="brand"></a>
        
        <div class="container">
            
            <nav class="nav-main">
               
                <ul class="nav-menu">
                    <li><a href="/register">Registrarse     |</a></li>
                    <li><a href="/login">Ingresar     |</a></li>
                    <li><a href="#">Ofertas     |</a></li>
                    <li><a href="#">Preventas     |</a></li>
                    <li><a href="#">Vender/Comprar     |</a></li>
                </ul>
    
                <div>
                <input class="buscador" type="text" placeholder="Videojuegos, consolas y más...">
                <button type="submit" class="search-buttom">Buscar</button>
                <i class="fas fa-search"></i>
                </div>
                <br>
                
                <ul class="nav-menu-bottom">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Videojuegos</a></li>
                    <li><a href="#">Consolas</a></li>
                    <li><a href="#">Revistas</a></li>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Figuras</a></li>
                </ul>
            
            </nav>
        
             
        </div>
       
</header>
    <div class="Banner">
        <img src="/images/Banner_SuperMario.jpg" alt="Banner">
    </div>
       
<main> 
    <div class="Views">
  
        <ul class="Previews">
            <b>VISTA PREVIA</b>
            <div class="Prevs">
            <a href="#"><img src="/images/MarioKartDeluxe.jpg" class="Prev1" width="50px"></a>
            <a href="#"><img src="/images/MarioKartDeluxe.jpg" class="Prev2"  width="50px"></a>
            <a href="#"><img src="/images/MarioKartDeluxe.jpg" class="Prev3"  width="50px"></a>
            <a href="#"><img src="/images/MarioKartDeluxe.jpg" class="Prev4"  width="50px"></a>
            
            
            <!-- <li><img src="/images/twitchLogo.png" class="FaceLogo"></li>
            <li><img src="/images/twitterLogo.png" class="FaceLogo"></li>
            <li><img src="/images/youtubeLogo.png" class="FaceLogo"></li> -->
            </div>
        </ul>

            <div>
                <a href="#"><img src="/images/MarioKartDeluxe.jpg" class="productView"></a>
                <br>
                <p class="productName">Mario Kart Deluxe</p>
            </div>

            <div class="product_Description">
                <h2>Detalles del producto</h2>
                <p>
                    Última versión de Mario Kart con nuevas características
                    y desafios íncreibles. Incluye una nueva serie de escenarios y 
                    personajes. Además, tienes la posibilidad de jugar en tiempo real 
                    con otros jugadores en el mundo y ganar puntos virtuales que puedes
                    canjear en la tienda por souvenirs o mejoras.
                </p>
                <br>
                <ul>
                    <li>Costo: $1,250 MXN</li>
                    <li>Descuento Online: 15%</li>
                    <li>Compatibilidad: Nintendo Switch</li> 
                </ul>

                <div class="toCar">
                    <p>
                    <button type="submit" class="car">Agregar al Carrito</button>
                    </p>
                    
                    <p>
                    <button type="submit" class="buy">Comprar ahora</button>
                    </p>
                </div>
                
            </div>

    </div>

    <div>
        <p class="last_Visits">Ofertas Similares</p>

        <section class="visits">
            <article>
                <img src="/images/MarioKartDeluxe.jpg">
                    <p class="price">$1,200</p>
                    <p class="description">Mario Kart Deluxe</p>
                
            </article>
            <article>
                <img src="/images/SuperMario3D.jpg">
                    <p class="price"> $1,150</p>
                    <p class="description">Super Mario 3D</p>
            </article>

            <article>
                <img src="/images/TheLastOfUsII.jpg"d>
                    <p class="price">$1,900</p>
                    <p class="description">The Last of Us II</p>
            </article>

            <article>
                 <img src="/images/HalloInfinite.jpg">
                    <p class="price"> $1,200</p>
                    <p class="description">Hallo Infinite</p>
            </article>
        </section>



    </div>

        <div class="clientOpinion">
            <h2>Opiniones de otros clientes</h2>

            <p>
             Cosme Fulanito
            </p>
            <br>
            <p>
            El mejor juego de carreras de Mario. Sin duda lo volvería a comprar sin pensarlo.
            Tiene grandes efectos y un sin fin de posibilidades, y lo mejor, integra a personajes 
            que completan la saga.
            </p>

        </div>

        <div class="clientOpinion">
            <p>
             Homer simpsom
            </p>
            <br>
            <p>
            De los mejores juegos que he tenido la oportunidad de comprar. Creo que es entretenido, con buenos efectos
            con mejoras notables y económicamente viable.
            </p>

        </div>

    </div>

      
</main>
<footer>

    <div class="container_foot">
        <a class="to_menu" href="/">INICIO DE PÁGINA</a>
    </div>

    <div class="container_foot2">

        <ul class="vinculos_footer">
             <b>INFORMACIÓN</b> 
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Visión, Misión y Valores</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Otros recursos</a></li>
        </ul>

        <ul class="vinculos_footer">
            <b>ATENCIÓN A CLIENTES</b> 
            <li><a href="#">Quejas y sugerencias</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Garantías</a></li>
        </ul>

        <ul class="vinculos_footer">
            <b>COMPRAS Y VENTAS</b>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Comprar</a></li>
            <li><a href="#">Reglas de transacción</a></li>
        </ul>

    
        <ul class="vinculos_footer_Contact">
            <b>CONTACTO</b>
            <div class="socialMedia">
            <a href="#"><img src="/images/FaceLogo.png" class="FaceLogo"></a>
            <a href="#"><img src="/images/twitchLogo.png" class="twitchLogo"></a>
            <a href="#"><img src="/images/twitterLogo.png" class="twitterLogo"></a>
            <a href="#"><img src="/images/youtubeLogo.png" class="youtubeLogo"></a>
            
            
            <!-- <li><img src="/images/twitchLogo.png" class="FaceLogo"></li>
            <li><img src="/images/twitterLogo.png" class="FaceLogo"></li>
            <li><img src="/images/youtubeLogo.png" class="FaceLogo"></li> -->
            </div>
        </ul>

    </div>
    
</footer>

    <div class="Terms_Conditions">
        <b>Términos y condiciones | Aviso de privacidad @2021 TerebigemuLand. Todos los derechos reservados.</b>
    </div>
</body>
</html>