<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terebigemu Land Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        
        <section>
            <ul class="barra-superior">
                
                <i><a href="#">Cuenta</a></i>
                <i>|</i>
                <i><a href="#">Ofertas</a></i>
                <i>|</i>
                <i><a href="#">Preventas</a></i>
                <i>|</i>
                <i><a href="#">Vender</a></i>

            </ul>
        </section>
        
        <section >
            <img class="logo" width="100" src="images/Sello_1.jpg" alt="Logo">
            <div class="nombre">
                <img  src="images/Nombre.jpg" alt="Nombre">
            </div>
            <form  action="buscar" method="GET">
                <div class="buscador">Buscar productos, marcas y más</div>
                <div ><i class="fa fa-search"></i></div>
            </form>
            <div class="boton-log">
                <button>Log in</button>
                <i class="fas fa-sign-in-alt"></i>
            </div>
            
        </section>
    </header>
    
    <section class="barra-navegacion">
        <ul>
            <i><a href="#">Videojuegos</a></i>
            <i> <a href="#">Coleccionables</a> </i>
            <i> <a href="#">Accesorios</a></i>
            <i> <a href="#">Computo</a></i>
            <i> <a href="#">Comics</a></i>
            <i> <a href="#">Ropa</a></i>
        </ul>
    </section>
    
    <main>
        <section class="formulario">
            <section class="formulario-datos">
                <div class="titulo"> <b>Crear cuenta</b></div>
                <form action="#">
                    <div class="doble-box">
                        <input class="input1" type="text" value="  Nombre(s)*" required>
                        <input class="input1" type="text" value="  Apellidos*" required>
                    </div>
                    <div>
                        <input class="input2" type="email" value="  E-mail*" required>
                        <input class="input2" type="password" value="Contraseña*" required>
                        <input class="input2" type="tel" value="Teléfono*" required>
                    </div>

                    <div>
                        <button>Crear Cuenta</button>
                    </div>
                </form>
            </section>
            <section>
                <img src="images/controles.jpeg" alt="">
            </section>
        </section>
        
        <section class="banner">
            <img  src="images/banner.jpg" alt="">
        </section>
        
        
        <section >
            <div class="navegacion-under">
                <article>
                   <a href="#">
                       <img src="images/ofertas.jpg" alt="">
                   </a> 
                   <div class="Titulo-under">
                        Ofertas
                   </div>
                   
                </article>
                
                
                <article>
                    <a href="#">
                        <img src="images/nuevo.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Lo nuevo
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="images/vendidos.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Mas vendidos
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="images/beneficios.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Beneficios
                    </div>
                </article>
            </div>
            <div>
                <button>Volver al inicio</button>
            </div>
        </section>
    </main>

    <footer>
        <section>
            <div><b>INFORMACIÓN</b></div>
            <ul>
                <i><a href="#" >Acerca de</a></i>
                <i><a href="#" >Empresa</a></i>
                <i><a href="#" >Trabaja con nosotros</a></i>
                <i><a href="#" >Otros recursos</a></i>
            </ul>
        </section>


        <section>
            <div><b>ATENCIÓN A CLIENTES</b></div>
            <ul>
                <i><a href="#" >Quejas y sugerencias</a></i>
                <i><a href="#" >Soporte</a></i>
                <i><a href="#" >Garantías</a></i>
            </ul>
        </section>


        <section>
            <div><b>COMPRAS Y VENTAS</b></div>
            <ul>
                <i><a href="#" >Vender</a></i>
                <i><a href="#" >Comprar</a></i>
                <i><a href="#" >Reglas de transacción</a></i>
            </ul>
        </section>

        <section>
            <div><b>CONTACTO</b></div>
            <ul class="redes" >
                <i><a class="redes" href="#" > <img width="50%" src="images/facebook.png" alt=""> </a></i>
                <i><a class="redes" href="#" > <img width="60%" src="images/twitter.png" alt=""></a></i>
                <i><a class="redes" href="#" ><img width="60%" src="images/whatsapp.jpg" alt=""></a></i>
            </ul>
        </section>
    </footer>
    <div class="terminos">
        Términos y Condiciones | Aviso de Privacidad © 2021 Terebigemu Land. Todos los Derechos Reservados. 
    </div>
</body>
</html>