<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terebigemu Land Register</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div>
            <img src="images/Propuesta_logo1.jpg" alt="Logo">
        </div>
        <div>
            <img src="images/pikachu.png" alt="Nombre">
        </div>
    </header>
</body>
</html>