*{
    padding: 0%;
     margin: 0%;
     box-sizing: border-box;
     font-family: 'Homenaje', sans-serif;
    
}

/*main*/

main{

    padding: auto;
    width: auto;
   
}

.formLogin{
    padding: 10px;
    margin:auto;
    /* border: oldlace 2px solid; */
    display: flex;
}

.imageLog{
    margin-top: 40px;
    position: relative;
    margin-left: 100px;
    height: 80%;
    width: 50%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 1.0);
}

@font-face {
    font-family: SimpsonfontDemo;
    src: url(/fuentes/SimpsonfontDEMO.otf);
  }

.errores{
    font-family: SimpsonfontDemo;
    -webkit-text-stroke: 1.15px black;
    color: rgb(255, 251, 0);
    text-align: center;
    font-size: 19px;   
}
.userLogin{
    /* margin-inline-start: 0%; */
    margin-left: -90px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
    padding: 6px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    /* border: oldlace 2px solid; */
}

h2{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.correo, .Keyword{
     margin: 35px 30px 20px 45px;
     /* border: rgb(0, 0, 0) 2px solid; */
     text-align:left;
     font-size: 20px;
     margin-bottom: 15px;
}

.email, .password{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
    text-align: left;
    border: rgb(194, 126, 0, 0.5) solid 2px;

}

.options{
    display: flex;
    align-content: inherit;
    /* border: rgb(0, 0, 0) 2px solid; */
    margin: 35px 30px 20px 45px;
    width: 82%;
}

/* .remindMe{
    border: rgb(0, 0, 0) 2px solid;
    
} */

div.options a{
    /* border: rgb(0, 0, 0) 2px solid;*/
    margin-left:115px;  /*a mejorar*/
}

.send{
    border-radius: 6px;
    border: rgba(177, 7, 7,0.7) solid 2px;
    font-size: 18px;
    padding: 10px;
    width: 30%;
    text-align: center;
    color: white;
    background-color: rgb(58, 9, 9);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}  
