.encabezado{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 140%;
    background-color: black;
  }

div.products-container{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    padding: 3%;
     /* border: solid 2px green; */
  }

.product-container{
    display: flex;
    flex-wrap:wrap;
    align-self: center;
    justify-content: space-evenly;
    background-color: black;
    margin: 20px;
    width: 175px;
    height:255px;
    box-shadow: 0 0 10px 7px rgb(192, 0, 0);
    border-radius: 5px;
    /* border: solid 2px blue; */
    
}


.products-precio{
    display: flex;
    margin-left: 5%;
    width: 90%;
    justify-content: center;
}

.products-precio div{
    text-align: center;
}

.figure{
    text-align: center;
    align-items:center;
       /* border: solid 2px green; */
}

figure img{

    width: 135px;
    height: 170px;
    margin-top: 10%;
    
    /* border: solid 2px blueviolet; */
}

.product-name{
    margin-top: 5%;
    text-align: center;
    font-size: 175%;

}

.precio-principal{
    font-size:18px ;
   
    
}

.precio-descuento{
    font-size:14px ;
    color: grey;
    align-self:center;
}