*{

     box-sizing: border-box;
     font-family: 'Homenaje', sans-serif;
    
}

 
 div.header{
     text-align: center;
     width: 35%;
     height: auto;
     padding: 2%;
     margin: 4% auto;
     background-color: black;
     box-shadow: 0 0 10px 7px rgb(192, 0, 0);
     border-radius: 5px;
     border: solid 2px rgb(255, 217, 0);  
 }

 @font-face {
    font-family: SimpsonfontDemo;
    src: url(/fuentes/SimpsonfontDEMO.otf);
  }

div.name{
    font-size: 200%;
    font-family: SimpsonfontDemo;
    -webkit-text-stroke: 1.15px black;
    color: rgb(255, 251, 0);
    text-align: center; 
    }

.image{
    margin: 5% auto;
    width: 55%;
    height: auto;
}

.nivel{
    font-size: 200%;
    color: yellow;
    margin: 5% auto;
}

form button.edit, button.delete{
    border-radius: 6px;
    box-shadow: 0 0 8px 1px rgba(87, 0, 0, 0.849);
    font-size: 17px;
     margin:5% auto;
    width: 140px;
    height: 35px;
    text-align: center;
    background: linear-gradient(70deg, rgb(121, 0, 0)80%, rgb(85, 7, 7), rgb(46, 0, 0));
    color: white;
    border-color: red;
    border-radius: 2%;
}