<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/index.css">
        <title>Home</title>
    </head>

    <body>
        <%- include("./partials/header") %>
        <div class="Banner">
            <img src="/images/Banner_SuperMario.jpg" alt="Banner">
        </div>
        
        <main>
            <p class="last_Visits">Basado en tus últimas visitas</p>

            <section class="visits">
                <article>
                    <a href="/productDetail"><img src="/images/products/MarioKartDeluxe.jpg"></a>
                        
                    <p class="price">$1,200</p>
                        
                    <p class="description">Mario Kart Deluxe</p>
                </article>
                    
                <article>
                    <img src="/images/products/SuperMario3D.jpg">
                            
                    <p class="price"> $1,150</p>
                            
                    <p class="description">Super Mario 3D</p>
                </article>

                <article>
                    <img src="/images/products/TheLastOfUsII.jpg"d>
                            
                    <p class="price">$1,900</p>
                            
                    <p class="description">The Last of Us II</p>
                </article>

                <article>
                    <img src="/images/products/HalloInfinite.jpg">
                            
                    <p class="price"> $1,200</p>
                            
                    <p class="description">Hallo Infinite</p>
                </article>
            </section>

            <p class="Popular_Articles">Artículos populares</p>
                    
            <section class="Popular">
                <article>
                    <img src="/images/products/Fifa2021.jpg">
                        
                    <p class="price">$1,250</p>
                        
                    <p class="description">Fifa 2021</p>
                </article>
                    
                <article>
                    <img src="/images/products/DoomEternal.jpg">
                    
                    <p class="price">$2,300</p>
                    
                    <p class="description">Doom Eternal</p>
                </article>

                <article>
                    <img src="/images/products/CrashBandicoot4.jpg">
                    
                    <p class="price">$900</p>
                    
                    <p class="description">Crash Bandicoot 4</p>
                </article>

                <article>
                    <img src="/images/products/LuigiMansion3.jpg">
                    
                    <p class="precios">$950</p>
                    
                    <p class="description">Luigi's Mansion 3</p>
                </article>

                <article>
                    <img src="/images/products/TheLastOfUsRemastered.jpg">
                        
                    <p class="price">$1,299</p>
                        
                    <p class="description">The Last of Us Remastered</p>
                </article>
                    
                <article>
                    <img src="/images/products/SuperSmashBrosUltimate.jpg">
                    
                    <p class="price">$1,700</p>
                    
                    <p class="description">Super Smash Bros Ultimate</p>
                </article>

                <article>
                    <img src="/images/products/Spider-ManMM.jpg">
                    
                    <p class="price">$1,500</p>
                    
                    <p class="description">Spider-Man Miles Morales</p>
                </article>

                <article>
                    <img src="/images/products/SuperMario3D.jpg">
                    
                    <p class="precios">$1,200</p>
                    
                    <p class="description">Super Mario 3D</p>
                </article>
                
            </section>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>