<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/footer.css">
    <title>footer</title>
</head>

<footer>

    <div class="container_foot">
        <a class="to_menu" href="/">INICIO DE PÁGINA</a>
    </div>

    <div class="container_foot2">

        <ul class="vinculos_footer">
             <b>INFORMACIÓN</b> 
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Visión, Misión y Valores</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Otros recursos</a></li>
        </ul>

        <ul class="vinculos_footer">
            <b>ATENCIÓN A CLIENTES</b> 
            <li><a href="#">Quejas y sugerencias</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Garantías</a></li>
        </ul>

        <ul class="vinculos_footer">
            <b>COMPRAS Y VENTAS</b>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Comprar</a></li>
            <li><a href="#">Reglas de transacción</a></li>
        </ul>

    
        <ul class="vinculos_footer_Contact">
            <b>CONTACTO</b>
            <div class="socialMedia">
            <a href="#"><img src="/images/FaceLogo.png" class="FaceLogo"></a>
            <a href="#"><img src="/images/twitchLogo.png" class="twitchLogo"></a>
            <a href="#"><img src="/images/twitterLogo.png" class="twitterLogo"></a>
            <a href="#"><img src="/images/youtubeLogo.png" class="youtubeLogo"></a>
            
            
            <!-- <li><img src="/images/twitchLogo.png" class="FaceLogo"></li>
            <li><img src="/images/twitterLogo.png" class="FaceLogo"></li>
            <li><img src="/images/youtubeLogo.png" class="FaceLogo"></li> -->
            </div>
        </ul>

    </div>
    
</footer>

    <div class="Terms_Conditions">
        <b>Términos y condiciones | Aviso de privacidad @2021 TerebigemuLand. Todos los derechos reservados.</b>
    </div>