<header>
    <a href="/"><img src="/images/Sello_1.jpg" alt="LOGO" class="brand1"></a>
    <a href="/"><img src="/images/TL_logo1.jpg" alt="LOGO" class="brand2"></a>
    
    <div class="container">
        
        <nav class="nav-main">
           
            <ul class="nav-menu">
                <li><a href="/register">Registrarse     |</a></li>
                <li><a href="/login">Ingresar     |</a></li>
                <li><a href="#">Ofertas     |</a></li>
                <li><a href="#">Preventas     |</a></li>
                <li><a href="#">Vender/Comprar     |</a></li>
            </ul>

            <div>
            <input class="buscador" type="text" placeholder="Videojuegos, consolas y más...">
            <button type="submit" class="search-buttom">Buscar</button>
            <i class="fas fa-search"></i>
            </div>
            <br>
            
            <ul class="nav-menu-bottom">
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Videojuegos</a></li>
                <li><a href="#">Consolas</a></li>
                <li><a href="#">Revistas</a></li>
                <li><a href="#">Ropa</a></li>
                <li><a href="#">Figuras</a></li>
            </ul>
        
        </nav>
    
         
    </div>
   
</header>