<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/header.css">
    <title>header</title>
</head>

<header>
    <a href="/"><img src="/images/Sello_1.jpg" alt="LOGO" class="brand1"></a>
    <a href="/"><img src="/images/TL_logo1.jpg" alt="LOGO" class="brand2"></a>
    
    <div class="container">
        
        <nav class="nav-main">

            <li class="shopping"><a href="/shopping-car">Comprar prueba <i class="fas fa-cart-arrow-down"></i></a></li>

            <ul class="nav-menu">
                <% if (locals.isLogged){ %>
                    <li><a href="/users/profile">Perfil</a></li>
                    <li><a href="/users/logout">Logout</a></li>
                <% } else{%>
                    <li><a href="/users/register">Registrarse</a></li>
                    <li><a href="/users/login">Ingresar</a></li>
                <% } %>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Preventas</a></li>
                <li><a href="#">Vender/Comprar</a></li>
                <li><a href="/createProduct">Administrador</a></li>
            </ul>
           
            <div>
            <input class="buscador" type="text" placeholder="Videojuegos, consolas y más...">
            <button type="submit" class="search-buttom">Buscar</button>
            <i class="fas fa-search"></i>
            </div>

            
            <br>
            
            <ul class="nav-menu-bottom">
                <li><a href="/products">Listado</a></li>
                <li><a href="#">Videojuegos</a></li>
                <li><a href="#">Consolas</a></li>
                <li><a href="#">Revistas</a></li>
                <li><a href="#">Ropa</a></li>
                <li><a href="#">Figuras</a></li>
                <li><a href="/products/create">Agregar producto</a></li>
            </ul>
        
        </nav>
    
         
    </div>
   
</header>


</html>