<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terebigemu Land Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        
        <a href="/"><img src="/images/TL_logo1.jpg" alt="LOGO" class="brand"></a>
        
        <div class="container">
            
            <nav class="nav-main">
               
                <ul class="nav-menu">
                    <li><a href="/register">Registrarse     |</a></li>
                    <li><a href="/login">Ingresar     |</a></li>
                    <li><a href="#">Ofertas     |</a></li>
                    <li><a href="#">Preventas     |</a></li>
                    <li><a href="#">Vender/Comprar     |</a></li>
                </ul>
    
                <div>
                <input class="buscador" type="text" placeholder="Videojuegos, consolas y más...">
                <button type="submit" class="search-buttom">Buscar</button>
                <i class="fas fa-search"></i>
                </div>
                <br>
                
                <ul class="nav-menu-bottom">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Videojuegos</a></li>
                    <li><a href="#">Consolas</a></li>
                    <li><a href="#">Revistas</a></li>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Figuras</a></li>
                </ul>
            
            </nav>
        
             
        </div>
       
</header>
    
    <main>
        <section class="formulario">
            <section class="formulario-datos">
                <div class="titulo"> <b>Crear cuenta</b></div>
                <form action="#">
                    <div class="doble-box">
                        <input class="input1" type="text" value="  Nombre(s)*" required>
                        <input class="input1" type="text" value="  Apellidos*" required>
                    </div>
                    <div>
                        <input class="input2" type="email" value="  E-mail*" required>
                        <input class="input2" type="password" value="Contraseña*" required>
                        <input class="input2" type="tel" value="Teléfono*" required>
                    </div>

                    <div>
                        <button>Crear Cuenta</button>
                    </div>
                </form>
            </section>
            <section>
                <img src="images/controles.jpeg" alt="">
            </section>
        </section>
        
        <section class="banner">
            <img  src="images/banner.jpg" alt="">
        </section>
        
        
        <section >
            <div class="navegacion-under">
                <article>
                   <a href="#">
                       <img src="images/ofertas.jpg" alt="">
                   </a> 
                   <div class="Titulo-under">
                        Ofertas
                   </div>
                   
                </article>
                
                
                <article>
                    <a href="#">
                        <img src="images/nuevo.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Lo nuevo
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="images/vendidos.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Mas vendidos
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="images/beneficios.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Beneficios
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="container_foot">
            <a class="to_menu" href="/">INICIO DE PÁGINA</a>
        </div>

    <div class="container_foot2">

        <ul class="vinculos_footer">
             <b>INFORMACIÓN</b> 
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Visión, Misión y Valores</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Otros recursos</a></li>
        </ul>

        <ul class="vinculos_footer">
            <b>ATENCIÓN A CLIENTES</b> 
            <li><a href="#">Quejas y sugerencias</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Garantías</a></li>
        </ul>

        <ul class="vinculos_footer">
            <b>COMPRAS Y VENTAS</b>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Comprar</a></li>
            <li><a href="#">Reglas de transacción</a></li>
        </ul>

    
        <ul class="vinculos_footer_Contact">
            <b>CONTACTO</b>
            <div class="socialMedia">
            <a href="#"><img src="/images/FaceLogo.png" class="FaceLogo"></a>
            <a href="#"><img src="/images/twitchLogo.png" class="twitchLogo"></a>
            <a href="#"><img src="/images/twitterLogo.png" class="twitterLogo"></a>
            <a href="#"><img src="/images/youtubeLogo.png" class="youtubeLogo"></a>
            
            
            <!-- <li><img src="/images/twitchLogo.png" class="FaceLogo"></li>
            <li><img src="/images/twitterLogo.png" class="FaceLogo"></li>
            <li><img src="/images/youtubeLogo.png" class="FaceLogo"></li> -->
            </div>
        </ul>

    </div>
    
</footer>

    <div class="Terms_Conditions">
        <b>Términos y condiciones | Aviso de privacidad @2021 TerebigemuLand. Todos los derechos reservados.</b>
    </div>
</body>
</html>