<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terebigemu Land Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include("../partials/header") %>
    
    <main>
        <section class="formulario">
            <section class="formulario-datos">
                <div class="titulo"> <b>Crear cuenta</b></div>
                <form action="#">
                    <div class="doble-box">
                        <input class="input1" type="text" value="  Nombre(s)*" required>
                        <input class="input1" type="text" value="  Apellidos*" required>
                    </div>
                    <div>
                        <input class="input2" type="email" value="  E-mail*" required>
                        <input class="input2" type="password" value="Contraseña*" required>
                        <input class="input2" type="tel" value="Teléfono*" required>
                    </div>

                    <div>
                        <button>Crear Cuenta</button>
                    </div>
                </form>
            </section>
            <section>
                <img src="images/controles.jpeg" alt="">
            </section>
        </section>
        
        <section class="banner">
            <img  src="images/banner.jpg" alt="">
        </section>
        
        
        <section >
            <div class="navegacion-under">
                <article>
                   <a href="#">
                       <img src="images/ofertas.jpg" alt="">
                   </a> 
                   <div class="Titulo-under">
                        Ofertas
                   </div>
                   
                </article>
                
                
                <article>
                    <a href="#">
                        <img src="images/nuevo.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Lo nuevo
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="images/vendidos.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Mas vendidos
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="images/beneficios.jpg" alt="">
                    </a> 
                    <div class="Titulo-under">
                        Beneficios
                    </div>
                </article>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>